# Environments
.venv/
env/
.env
venv/
# Agent/Claude stuff
.agents/
.claude/

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Data and Models
data/
testsprite_tests/

# IDEs
.vscode/
.idea/

# Flutter/Dart (mostly handled by inner gitignore, but just in case)
build/
.dart_tool/

# Other
*.log
.DS_Store

skills-lock.json
*claude.md
